body {
  font-family: "PT Mono", monospace;
  background-size: cover;
  background-image: url("../image/sky.jpg");
}
li {
  list-style: none;
}
h2 {
  text-align: center;
}
.cairo {
  padding-top: 25px;
  text-align: center;
  color: white;
  font-size: 58px;
}
.temp {
  font-size: 48px;
  color: white;
  text-align: center;
}

#city-form {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}
.button {
  left: 81%;
  transform: translate(-50%, 0);
}

button:hover {
  background: #002759;
  color: white;
  cursor: pointer;
}
.august {
  color: white;
  font-size: 18px;
}
.forecast {
  font-size: 22px;
  margin-top: 10px;
  text-align: center;
}
footer {
  font-size: 14px;
  text-align: center;
  color: white;
  padding-top: 20px;
}
li:first-letter {
  text-transform: capitalize;
}
.whole-page {
  background-image: url("../image/sky.jpg");
  margin: 50px auto;
  border-radius: 30px;
  max-width: 900px;
  align-items: stretch;
}

.forecast-temp-max {
  font-weight: bold;
}
.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}
